{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block title %}
    <title>Blog App</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-light navbar-expand-md bg-light fixed-top">
        <a class="navbar-brand" href="{% url 'blog' %}" style="padding-left:10px">Django Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li style="list-style-type: none;">
              <form class="d-flex" style='margin-top:6px; margin-bottom:6px' action="{% url 'search' %}" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{request.GET.q}}">
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <ul class="nav-item dropdown" style='margin-top:6px; margin-bottom:6px; margin-right:10px;'>
            <a class="nav-link dropdown-toggle" style="color: black; font-size:large" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{ user.first_name }}</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item">Profile</a>
                <a class="dropdown-item" href="#">Create Post</a>
                <a class="dropdown-item" href="#">Edit Profile</a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
          </ul>
          {% else %}
          <button class="btn btn-dark" onclick="window.location.href='/login';" style='margin-right:10px; margin-top:6px; margin-bottom:6px;'>Login</button>
          <button class="btn btn-dark" onclick="window.location.href='/register';" style='margin-right:10px; margin-top:6px; margin-bottom:6px'>Signup</button>
          {% endif %}
        </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 post">
          {% block content %}
          {% endblock %}
          <nav aria-label="...">
            <ul class="pagination">
            {% if is_paginated %}
              {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" style="color:black" href="?page=1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:black" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                  <li class="page-item active"><a class="page-link" style="color:#ffffff; background-color: black; border-color: black;" href="?page={{num}}">{{num}}</a></li>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                  <li class="page-item"><a class="page-link" style="color:black" href="?page={{num}}">{{num}}</a></li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" style="color:black" href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:black" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
              {% endif %}
            {% endif %}
            </ul>
          </nav>
        </div>

        {% block sidebar %}
        <div class="col-lg-4 sidebar">
          <ul class="list-group category">
            <li class="list-group-item active" aria-current="true">Category</li>
            {% for categories in cat_list %}
            <a href="{% url 'category' categories %}" style="text-decoration:none; color:black"><li class="list-group-item">{{categories}} <span class="badge bg-dark">{{categories.category_set.count}}</span></li></a>
            {% endfor %}
          </ul>
          <div class="recent-post card">
            <h2>Recent Posts</h2>
            {% for post in latestpost_list %}
            <div class="img-p">
              <img style="width:100px; height:80px" src="{{post.img.url}}">
              <a style="text-decoration:none; color:black" href="{% url 'blog-detail' post.slug %}"><p>{{post.title}}</p></a>
            </div>
            {% endfor %}
          </div>
          <div class="category-tag card">
            <h2>Category Tags</h2>
            <div class="button-cuz">
              {% for categories in cat_list %}
              <a href="{% url 'category' categories %}"><button type="button" class="btn btn-outline-dark">{{categories}}</button></a>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
